.hello {
  color: red;
}

.game-page {
  width: 100wv;
  height: 100hv;
}

.game-cell {
  height: 2rem;
  width: 2rem;
  border: 2.9px solid black;
}

.game-board-container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;
  height: 23.6rem;
  width: 23.8rem;
}
